.container {
    margin: 0 auto;
    max-width: 1372px;
    padding: 0 12px;
}

.secondary-container {
    max-width: 1280px;
    margin: 0 auto;
}

.flex-container {
    display: flex;
}

.align-end {
    align-items: flex-end;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: var(--overlay-z-index);
    display: none;
}

.overlay--active {
    display: block;
}