@import url('../libs/css/normalize.css');
@import url('../libs/css/font-awesome.css');
@import url('./reset.css');
@import url('./global.css');
@import url('./fonts.css');
@import url('./common.css');

@import url('./components/header.css');
@import url('./components/phone-number.css');
@import url('./components/slider.css');
@import url('./components/details-btn.css');
@import url('./components/header-mobile.css');
@import url('./components/categories.css');
@import url('./components/services.css');
@import url('./components/discounts.css');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}