.categories__category-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 10px;
    line-height: 12px;
    text-align: right;
    letter-spacing: 0.3em;
    text-transform: uppercase;
    color: #EBE5D2;
}

.categories__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 800;
    font-size: 46px;
    line-height: 56px;
    letter-spacing: -0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
}