.header__mobile {
    display: none;
}

.header__mobile-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px;
    background: #EEEEEE;
}

.header_humburger {
    background: none;
    border: none;
    font-size: 18px;
}

.header__search-input-mobile {
    flex: 1 1 auto;
    width: 100%;
}

.header__search {
    width: 100%;
}

.header__search-btn {
    background: none;
    border: none;
    color: var(--red-darken-1);
}

@media screen and (max-width: 768px) {
    .header__mobile {
        display: block;
    }
}