.header__mobile {
    display: none;
}

.header__mobile-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 18px;
    background: #EEEEEE;
}

.header_humburger {
    background: none;
    border: none;
    font-size: 18px;
}

.header__search-input-mobile {
    flex: 1 1 auto;
    width: 100%;
}

.header__search-btn {
    background: none;
    border: none;
    color: var(--red-darken-1);
}

.header__search-mobile-form {
    display: none;
}

.header__search-mobile-form--active {
    display: block;
    flex: 1 1 auto;
}

.header__mobile-logo-wrapper {
    text-align: center;
    margin-bottom: 34px;
    margin-top: 28px;
}

.header__description--mobile {
    letter-spacing: 0.12em;
    font-size: 10px;
}

.header__mobile-panel {
    display: flex;
}

.header__catalog--mobile {
    transform: translateY(0);
    min-width: 153px;
    height: 54px;
    padding: 0 17px;
}

@media screen and (max-width: 768px) {
    .header__mobile {
        display: block;
    }
}