.services-container {
    display: flex;
}

.services__block {
    display: flex;
    align-items: center;
    margin-right: 65px;
    font-family: 'Roboto';
    font-style: normal;
}

.services__block .icon {
    width: 54px;
    height: 54px;
}

.services__title {
    margin-left: 35px;
}

.services__title h3 {
    font-weight: 300;
    font-size: 16px;
    line-height: 130%;
}

.services__title span {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.1em;
    color: #A4A4A4;
}